---
import "./PerksBlock.scss";
import perk_1 from "@img/blocks/perks/perk-1.svg?url";
import perk_1_glare from "@img/blocks/perks/perk-1-glare.svg?url";
import perk_1_mobile from "@img/blocks/perks/perk-1_mobile.svg?url";
import perk_1_glare_mobile from "@img/blocks/perks/perk-1-glare_mobile.svg?url";
import perk_2 from "@img/blocks/perks/perk-2.svg?url";
import perk_2_glare from "@img/blocks/perks/perk-2-glare.svg?url";
import perk_2_mobile from "@img/blocks/perks/perk-2_mobile.svg?url";
import perk_2_glare_mobile from "@img/blocks/perks/perk-2-glare_mobile.svg?url";
import perk_3 from "@img/blocks/perks/perk-3.svg?url";
import perk_3_mobile from "@img/blocks/perks/perk-3_mobile.svg?url";
import circles from "@img/lottie/circles.json?url";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<section class="PerksBlock block">
	<div class="_container">
		<h2 class="PerksBlock__title anim_scroll" data-anim-index="0">
			Perks That Keep You Safe
		</h2>
		<div class="PerksBlock__items anim_scroll" data-anim-index="1">
			<div class="PerksBlock__item">
				<div class="PerksBlock__item-pic">
					<picture>
						<source srcset={perk_1_mobile} media="(max-width: 768px)" />
						<img loading="lazy"
							src={perk_1}
							alt="diagram of profit"
						/>
					</picture>
					<div class="anim_glare _label">
						<picture>
							<source srcset={perk_1_glare_mobile} media="(max-width: 768px)" />
							<img loading="lazy"
								src={perk_1_glare}
								alt="up to 90% LTV"
							/>
						</picture>
					</div>
				</div>
				<div class="PerksBlock__item-info">
					<h3 class="PerksBlock__item-title">Higher LTV</h3>
					<div class="PerksBlock__item-text">Borrow up to 90% of your collateral value, maximizing capital efficiency and maintaining access to your funds</div>
				</div>
			</div>
			<div class="PerksBlock__item">
				<div class="PerksBlock__item-pic">
					<picture>
						<source srcset={perk_2_mobile} media="(max-width: 768px)" />
						<img loading="lazy"
							src={perk_2}
							alt="market volatility illustration"
						/>
					</picture>
					<div class="anim_glare _shield">
						<picture>
							<source srcset={perk_2_glare_mobile} media="(max-width: 768px)" />
							<img loading="lazy"
								src={perk_2_glare}
								alt="shielded ETH"
							/>
						</picture>
					</div>
				</div>
				<div class="PerksBlock__item-info">
					<h3 class="PerksBlock__item-title">No Liquidations</h3>
					<div class="PerksBlock__item-text">Your position is never liquidated, regardless of market volatility</div>
				</div>
			</div>
			<div class="PerksBlock__item">
				<div class="PerksBlock__item-pic">
					<picture>
						<source srcset={perk_3_mobile} media="(max-width: 768px)" />
						<img loading="lazy"
							src={perk_3}
							alt="two types of protection from 7 to 90 days"
						/>
					</picture>
				</div>
				<LottieAnimation
					class="PerksBlock__item-lottie"
					src={circles}
					autoplay="visible"
					loop
				/>
			</div>
		</div>
	</div>
</section>